@model Formularios.Models.Usuario
<h2>Editar datos de usuario con LabelFor y EditorFor</h2>

<div class="form-group">
    @Html.LabelFor(model => model.Id)
    @Html.EditorFor(model => model.Id)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Pais)
    @Html.EditorFor(model => model.Pais)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FechaNacimiento)
    @Html.EditorFor(model => model.FechaNacimiento)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Comentarios)
    @Html.EditorFor(model => model.Comentarios)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AceptoTerminos)
    @Html.EditorFor(model => model.AceptoTerminos)
</div>

<div class="form-group">
    <a href="@Url.Action("Index")" class="btn btn-default">Volver a la lista</a>
</div>